@import "html5reset-1.6.1.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    max-width:1150px;
    margin: auto;
    padding: 0 25px 100px 25px;
    background: white;
    color: #4a4a4a;
}

/***** Header styling *****/

.header-container {
    flex-flow: row wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    width: 100%;
}

.logo-container {
    margin-left: 15px;
}

    .logo-container .logo {
        font-family: 'Satisfy', cursive;
        font-weight: 600;
        color: #4484ce;
        font-size: 50px;
        display: block;
    }

@media screen and (max-width: 812px) {
    .logo-container{
        width:100%;
        margin-left: 0;
    }

        .logo-container .logo {
            text-align: center;
        }
}

/***** Navigation styling *****/

nav {
    align-self: center;
    margin: 0 0.4em 0 0.8em;
}

    nav ul li {
        display: inline;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight:400;
        font-size: 18px;
        padding: 0 0 0 1.4em;
        color: #4a4a4a;
    }

        nav ul li a {
            color: #4a4a4a;
            text-decoration: none;
        }

        nav ul li a:hover {
            border-bottom: 1px solid #4a4a4a;
            padding-bottom: 2px;
        }

        nav ul li a.current {
            border-bottom: 1px solid #4a4a4a;
            padding-bottom: 2px;
        }

        nav ul li a i {
            border-bottom: none;
        }

@media screen and (max-width: 812px) {
    nav {
        margin: 0;
        justify-content: flex-start;
        text-align: center;
        width: 100%;
    }

        nav ul {
            margin-top: 20px;
        }

            nav ul li {
                display: block;
                padding: 0.5em 0;
                text-transform: uppercase;
                font-weight: 600;
            }

            nav ul li {
                display: block;
                padding: 0.5em 0;
                text-transform: uppercase;
                font-weight: 600;
            }

}

/***** Unified headings styling *****/

h1 {
    font-size: 50px;
    margin-bottom: 35px;
}

h2 {
    line-height: 1.5em;
    font-size: 18px;
    padding-bottom: 9px;
}

h3 {
    font-weight: normal;
    font-style:italic;
    font-size: 16px;
    padding-bottom: 9px;
}

@media screen and (max-width: 812px) {
    h1 {
        font-size: 30px;
        text-align: center;
    }
}

/***** Paragraph styling *****/

article p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

article li {
    line-height: 1.5em;
}

article ul {
    margin-bottom: 1em;
    margin-left: 1em;
}

    article ul li ul {
        margin-left: 1em;
    }

/***** Intro page styling *****/

section.intro {
    font-size: 50px;
    color: #4a4a4a;
    text-align: left;
    line-height: 1.25;
}


    section.intro a {
        text-decoration: none;
        color: #4a4a4a;
        border-bottom: 6px solid #4484ce;
    }

        section.intro a.newt:hover {
            color: #95BCEB;
        }
        section.intro a.umsi:hover {
            color: #f9cf00;
        }

@media screen and (max-width: 812px) {
    section.intro {
        font-size: 30px;
    }
        section.intro a {
            border-bottom: 3px solid #4484ce;
        }
}


ul.profiles {
    margin: 75px 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
}

    ul.profiles li {
        float:left;
        padding-right: 20px;
    }

    ul.profiles li a {
        text-decoration: none;
        color: #4a4a4a;
    }

    ul.profiles li a:hover {
        border-bottom: 1px solid #4a4a4a;
        padding-bottom: 2px;
    }

    ul.profiles li a i {
        padding-right: 8px;
    }


/***** Structure *****/

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 25px;
    border-top: 2px solid #4a4a4a;
}

article .title-wrapper {
        width: 25%;
        padding-right: 50px;
    }

    article .title-wrapper img {
            width: 75%;
            margin: 0 auto;
        }

article .content-wrapper {
        width: 75%;
    }

@media screen and (max-width: 812px) {
    article .title-wrapper {
            width: 100%;
            text-align: center;
            padding: 0;
        }

        article .title-wrapper img {
                width: 33%;
            }

    article .content-wrapper {
            width: 100%;
        }

        article .content-wrapper h2 {
                text-align: center;
            }

        article .content-wrapper h3 {
                text-align: center;
            }


}
