@import "html5reset-1.6.1.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    max-width:1150px;
    margin: auto;
    padding: 0 25px 100px 25px;
    background: white;
    color: #4a4a4a;
}

/* adjusting font-size body text site-wide for older and very small
   devices such as the iPhone 5 and older */
@media only screen and (max-width: 374px) {
    body {
        font-size: 15px;
    }
}

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
}

/***** Header styling *****/

.header-container {
    flex-flow: row wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    width: 100%;
}

.logo-container {
    margin-left: 15px;
}
    .logo-container img {
        width: 100px;
    }


/* the media queries with max-width 767px are targeting devices smaller
   than iPhone 5 up to size of iPhone X */
@media screen and (max-width: 767px) {
    .logo-container{
        width:100%;
        margin-left: 0;
    }

        .logo-container img {
            display: block;
            margin: 0 auto;
        }
}

/* smaller */
@media only screen and (max-width: 374px) {
    .header-container {
        padding: 10px 0;
        width: 100%;
    }

    .logo-container img {
        width: 50px
    }
}


/***** Navigation styling *****/

nav {
    align-self: center;
    margin: 0 0.4em 0 0.8em;
}

    nav ul li {
        display: inline;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight:400;
        font-size: 18px;
        padding: 0 0 0 1.4em;
        color: #4a4a4a;
    }

        nav ul li a {
            color: #4a4a4a;
            text-decoration: none;
        }

        nav ul li a:hover {
            border-bottom: 1px solid #4a4a4a;
            padding-bottom: 2px;
        }

        nav ul li a.current {
            border-bottom: 1px solid #4a4a4a;
            padding-bottom: 2px;
        }

        nav ul li a i {
            border-bottom: none;
        }

@media screen and (max-width: 767px) {
    nav {
        margin: 0;
        justify-content: flex-start;
        text-align: center;
        width: 100%;
    }

        nav ul {
            margin-top: 20px;
            margin-left: -25px;
            margin-right: -25px;
        }

            nav ul li {
                font-size: 15px;
                display: inline;
                padding: 0.25em;
                text-transform: uppercase;
                font-weight: 600;
            }

            nav ul li:last-child {
                display: none;
            }

            nav ul li a {
                display: inline;
                width: 100%;
            }

}

@media only screen and (max-width: 374px) {
    nav {
        margin: 0;
        justify-content: flex-start;
        text-align: center;
        width: 100%;
    }

        nav ul {
            margin-top: 20px;
        }

            nav ul li {
                display: block;
                text-transform: uppercase;
                font-weight: 600;
                padding: 0;
            }

            nav ul li a {
                font-size: 13px;
                display: block;
                width: 100%;
                padding: 5px 0;
                border-bottom: 1px solid #4484ce;
            }

                nav ul li a:first {
                    border-top: 1px solid #4484ce;
                }

                nav ul li a.current {
                    border-bottom: 1px solid #4484ce;
                    background-color: #4484ce;
                    color: #fff;
                }
}

/***** Button styling ****/
button {
    font-weight:bold;
    font-size: 14px;
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    color: #fff;
}


/***** Unified headings styling *****/

h1 {
    font-size: 50px;
    margin-bottom: 35px;
}

h2 {
    line-height: 1.5em;
    font-size: 18px;
    padding-bottom: 9px;
}

h3 {
    font-weight: normal;
    font-style:italic;
    font-size: 16px;
    padding-bottom: 9px;
}

.blog_posts h3 {
    padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
        text-align: center;
    }
}

@media only screen and (max-width: 374px) {
    h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

}



/***** Paragraph styling *****/

article p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

article li {
    line-height: 1.5em;
}

article ul {
    margin-bottom: 1em;
    margin-left: 1em;
}

    article ul li ul {
        margin-left: 1em;
    }

/***** Intro page styling *****/

section.intro {
    font-size: 50px;
    color: #4a4a4a;
    text-align: left;
    line-height: 1.33;
}


    section.intro a {
        text-decoration: none;
        color: #4a4a4a;
        border-bottom: 6px solid #4484ce;
    }

        section.intro a.newt:hover {
            color: #95BCEB;
        }
        section.intro a.umsi:hover {
            color: #f9cf00;
        }

@media screen and (max-width: 767px) {
    section.intro {
        font-size: 25px;
        line-height: 1.5;
        text-align: center;
    }
        section.intro a {
            border-bottom: 3px solid #4484ce;
        }
}

@media only screen and (max-width: 374px) {
    section.intro {
        font-size: 18px;
    }
        section.intro a {
            border-bottom-width: 1px;
        }
}


/* "Profiles" section on intro page */

ul.profiles {
    margin: 75px 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
}

    ul.profiles li {
        float:left;
        padding-right: 20px;
    }

    ul.profiles li a {
        text-decoration: none;
        color: #4a4a4a;
        border-bottom: none;
    }

    ul.profiles li a:hover {
        border-bottom: 1px solid #4a4a4a;
        padding-bottom: 2px;
    }

    ul.profiles li a i {
        padding-right: 8px;
    }

    @media screen and (max-width: 767px) {
        ul.profiles {
            display: flex;
            justify-content: center;
        }
    }


/***** Structure *****/

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 2px solid #ccc;
}

article .title-wrapper {
        width: 25%;
        padding-right: 50px;
    }

    article .title-wrapper img {
            width: 75%;
            margin: 0 auto;
        }

article .content-wrapper {
        width: 75%;
    }

    article .content-wrapper img {
        max-width: 100%;
    }

    article .content-wrapper a {
        border-bottom: 1px solid #4484ce;
        text-decoration: none;
}

@media screen and (max-width: 767px) {
    article .title-wrapper {
            width: 100%;
            text-align: center;
            padding: 0;
        }

        article .title-wrapper img {
                width: 33%;
            }

    article .content-wrapper {
            width: 100%;
        }

        article .content-wrapper h2 {
                text-align: center;
            }

        article .content-wrapper h3 {
                text-align: center;
            }


}


/**** Night mode stuff ****/

body.-nightmode {
    background: #000 !important;
  }

  body.-nightmode * {
      color: white !important;
    }

/**** Slick (carousel) styling ****/

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
}

.slick-prev:before, .slick-next:before {
    color: #4484ce;
    opacity: 1;
}
